<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Adaptação mobile-->
  <title>Localize um doador | AdotaPET</title>

  <!-- https://leafletjs.com/examples/quick-start/ -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

  <link rel="icon" href="/images/logo-icon.png" />
  <link rel="stylesheet" href="/CSS/main.css" />
  <link rel="stylesheet" href="/CSS/animations.css" />
  <link rel="stylesheet" href="/CSS/page-orphanages.css" />

  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet" />
</head>

<body>
  <div id="page-orphanages">
    <aside class="animate-right">
      <header>
        <img src="/images/map-marker.svg " alt="Happy" />
        <h2>Veja quantos PETs esperando a sua adoção</h2>
        <p>Escolha um ponto no mapa e descubra o nome do SEU PET :D</p>
      </header>

      <footer>
        <strong>Itacoatiara</strong>
        <p>Amazonas</p>
      </footer>
    </aside>

    <div id="mapid" class="animate-appear"></div>

    <div class="orphanages">
      {{#each orphanages}}
      <span hidden data-id="{{this.id}}" data-name="{{this.name}}" data-lat="{{this.lat}}"
        data-lng="{{this.lng}}"></span>
      {{/each}}

    </div>



    <a href="/create-orphanage" class="create-orphanage" title="Cadastre um orfanato">
      <img src="/images/plus.svg" alt="Criar orfanato" />
    </a>
  </div>

  <script src="/scripts/page-orphanages.js"></script>
</body>

</html>